<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Line</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>XCSourceEditorCommandDefinitions</key>
			<array>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).MoveLineUp</string>
					<key>XCSourceEditorCommandName</key>
					<string>Move Line Up</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).MoveLineDown</string>
					<key>XCSourceEditorCommandName</key>
					<string>Move Line Down</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).CopyLine</string>
					<key>XCSourceEditorCommandName</key>
					<string>Copy Line</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).CutLine</string>
					<key>XCSourceEditorCommandName</key>
					<string>Cut Line</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).DeleteLine</string>
					<key>XCSourceEditorCommandName</key>
					<string>Delete Line</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).DuplicateLineUp</string>
					<key>XCSourceEditorCommandName</key>
					<string>Duplicate Line Up</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).DuplicateLineDown</string>
					<key>XCSourceEditorCommandName</key>
					<string>Duplicate Line Down</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).JoinLines</string>
					<key>XCSourceEditorCommandName</key>
					<string>Join Lines</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).SplitLineByComma</string>
					<key>XCSourceEditorCommandName</key>
					<string>Split Line by Comma</string>
				</dict>
				<dict>
					<key>XCSourceEditorCommandClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SourceEditorCommand</string>
					<key>XCSourceEditorCommandIdentifier</key>
					<string>$(PRODUCT_BUNDLE_IDENTIFIER).RemoveEmptyLines</string>
					<key>XCSourceEditorCommandName</key>
					<string>Remove Empty Lines</string>
				</dict>
			</array>
			<key>XCSourceEditorExtensionPrincipalClass</key>
			<string>$(PRODUCT_MODULE_NAME).SourceEditorExtension</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.dt.Xcode.extension.source-editor</string>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016 Tuan Truong. All rights reserved.</string>
</dict>
</plist>
